.UserInput form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.UserInput input {
  width: 500px;
  height: 30px;
  font-size: 20px;
  padding: 7px;
  border: 2px solid black;
  border-radius: 10px;
}
.UserInput input:focus {
  outline: none;
}
