.OutputList {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  transition: all 0.2s;
}
.OutputList:hover {
  background-color: rgb(56, 56, 56);
  color: white;
}
.OutputList ul {
  padding: 0px;
  margin: 0px;
}
.OutputList li {
  list-style-type: none;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}
.OutputList li:hover {
  transform: scale(1.2) translateX(39px);
}
