.Plus img {
  position: fixed;
  top: 560px;
  right: 15px;
  cursor: pointer;
  transition: all 0.4s;
}
.Plus img:hover {
  transform: scale(1.2);
  animation: spin 0.3s linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
